@charset "utf-8";
/* CSS Document */

/*网页框架---------------------------------------------start*/

/*设置主体栏单列格式*/
#root
{
overflow:hidden;
margin-left: auto;
margin-right: auto;
padding:0;
text-align:center;
width:80%;
position:relative;
}

#footer
{
clear:both;	
}



/*网页框架------------------------------------------------end*/







/*---------------------头部设置---------------------------end*/
#head
{
margin-bottom:20px;
}


/*滚动提示语*/
#freshMessage
{
margin-top:80px;
padding:10px;
background-color:#FFF;
height:15px;
}

/*大图片展示区*/
#photosShow
{
padding:20px;
background-color:#FFF;
}

#photoShow a
{
float:left;
}


#big_picture
{
width:750px;
height:365px;
}

/*大图右侧新闻展示区*/
#news
{
float:left;
padding-left:30px;	
}


#news li
{
text-align:left;
width:290px;
height:auto;
float:left;
clear:left;	
padding: 10px 20px;
line-height:30px;
font-size:16px;
}

/*设置时间字体小些*/
.news_time
{
font-size:14px;	
}



/*---------------------头部设置----------------------------end*/



#wrapper
{
position:relative;
 
 
}

#main
{
float:left;
width:100%;
margin-left:-300px;
}

/*文章推荐区*/
#recommend
{
margin-left:300px;
background-color:#FFF;
text-align:left;
padding:40px;
}




/*文章主体*/
.article
{
margin-left:300px;
background-color:#FFF;
padding:40px;
position:relative;
margin-bottom:10px;
}

/*标题左浮动*/
.title
{
float:left;	
padding:5px 20px;
}

.info
{
font-size:12px;
float:left;
padding:0 20px;
clear:left;
}

/*正文不与标题并排*/
.content
{
padding:0 10px;
clear:both;
text-align:left;
}

.readMore
{
color:#8B0000;
}

#rightBox
{
float:right;
width:300px;
}

.right_area
{
margin:0;
padding:15px;
margin-left:5px;
background-color:#FFF;	
}

